/*Codigo manual*/



/*centrado significa centrar el conenido que contendra la sección formularios,informes,letra etc etc*/
.centrado{


	font-family: verdana;
	font-size: 15px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 15px;

}